*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
.leaf img{
    height: 44%;
    width: 44%;
    margin-top: 9%;
    margin-bottom: 7%;
    margin-right: 25%;
    margin-left: 30%;
    position: relative;
}
.profile img{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 25%;
    left: 45%;
    border-radius: 55%;
}
.name h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    top: 59%;
    left: 48.5%;
}
.name h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    top:63%;
    left: 50%;
}
.icons{
    color: white;
    position: absolute;
    top:67%;
    left:51%
}